<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="FileAppender" class="org.apache.log4j.FileAppender">
        <param name="Encoding" value="UTF-8" />
        <param name="File" value="logs/project.log" />
        <layout class="org.apache.log4j.PatternLayout" >
            <param name="ConversionPattern"
                   value="[%d{dd.MM.yyyy HH:mm:ss}] [%5p] %c{2} - %m%n" />
        </layout>
    </appender>
    <logger name="">
        <level value="debug" />
    </logger>
    <root>
        <appender-ref ref="FileAppender" />
    </root>
</log4j:configuration>
